<div class="list-group">
  <%= link_to 'machines', machines_path, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'resources', resources_path, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'recipes', recipes_path, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'recipe inputs', recipe_inputs_path, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'machine processes', machine_processes_path, class: 'list-group-item list-group-item-action' %>
</div>
<%= render 'calc' %>

