<% max_input_count = @machine_processes.joins(:machine).maximum('machines.input_count') %>
<h1>Machine Processes</h1>

<table class="table">
  <thead>
  <tr>
    <th>Recipe</th>
    <th>Output</th>
    <% max_input_count.times do |idx| %>
      <th>Input <%= idx + 1 %></th>
    <% end %>
    <th>Machine</th>
    <th></th>
  </tr>
  </thead>

  <% @machine_processes.group_by(&:category).each do |category, machine_processes| %>
    <thead>
    <tr>
      <th colspan="<%= max_input_count + 4 %>"><%= Resource.category_name category %></th>
    </tr>
    </thead>
    <tbody>
    <% machine_processes.each do |machine_process| %>
      <tr>
        <td><%= link_to machine_process.recipe.name, machine_process.recipe %></td>
        <td>
          <%= link_to_pluralized_object machine_process.per_minute, machine_process.recipe.output %>
          / min
        </td>
        <% max_input_count.times do |idx| %>
          <% input = machine_process.recipe.recipe_inputs[idx] %>
          <td>
            <% if input.present? %>
              <%= link_to_pluralized_object machine_process.per_minute(input.amount), input.resource %>
              / min
            <% end %>
          </td>
        <% end %>
        <td><%= link_to machine_process.machine.name, machine_process.machine %></td>
        <td>
          <div class="btn-group">
            <%= link_to fa_icon('eye'), machine_process, class: 'btn btn-sm btn-info' %>
            <%= link_to fa_icon('pencil'), edit_machine_process_path(machine_process), class: 'btn btn-sm btn-secondary' %>
            <%= link_to fa_icon('times'), machine_process, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></div>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>

<br>

<%= link_to fa_icon('plus', text: 'New Machine Process'), new_machine_process_path, class: 'btn btn-primary' %>
