<ul>
  <li><%= link_to 'machines', machines_path %></li>
  <li><%= link_to 'resources', resources_path %></li>
  <li><%= link_to 'recipes', recipes_path %></li>
  <li><%= link_to 'recipe inputs', recipe_inputs_path %></li>
  <li><%= link_to 'machine processes', machine_processes_path %></li>
</ul>