<ul>
  <li><%= link_to 'machines', machines_path %></li>
  <li><%= link_to 'resources', resources_path %></li>
  <li><%= link_to 'recipes', recipes_path %></li>
  <li><%= link_to 'recipe inputs', recipe_inputs_path %></li>
  <li><%= link_to 'machine processes', machine_processes_path %></li>
</ul>

<%= form_tag(calc_path) do %>
  <%= select_tag :resource_id, options_from_collection_for_select(Resource.all, :id, :name) %>
  <%= number_field_tag :amount, 60 %>
  <%= submit_tag %>
<% end %>
