<%= simple_form_for(resource) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.input :category, collection: Resource::CATEGORIES.map(&:reverse) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
