<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<div>
  <p>Recipes</p>
  <ul>
    <% @resource.recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe %></li>
    <% end %>
  </ul>
  <%= link_to 'Add Recipe', new_recipe_path(recipe: {name: @resource.name.pluralize, output_id: @resource}) %>
</div>

<%= link_to 'Add Another', action: :new %> |
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
